DEBUG=0
SECRET_KEY=django-insecure-development-key-change-in-production
ALLOWED_HOSTS=localhost,127.0.0.1,web,nginx
RECAPTCHA_PUBLIC_KEY=
RECAPTCHA_PRIVATE_KEY=
PDF_OWNER_NAME=xxx xxxx xxxx
AI_API_KEY=
AI_BASE_URL=
AI_MODEL=
AI_TEMPERATURE=0.7
AI_MAX_TOKENS=9000
